
  body{
    background-color: white ; 
    background-attachment: fixed; /*Фон страницы фиксируется */
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-position: center center;
    background-size:contain;
    
    
}
.item {
    opacity: .8;
    transition: .3s ease;
}
.item:hover {
    opacity: 1;
}

h2 {
color: aqua;
}

/* .middle {
    position: relative;
    left:400px;
} */

.navbar{
background-color: #4520ab;
}
.navbar-brand{
    color: aqua;
}
.nav-link{
    color: coral;
    position:relative;

}
.lk{
    position: relative;
    left:420px;  
}
.out{
    position: relative;
    left:-10px;
}
.mb-3{
    font-family: RFRostin,Arial,sans-serif;
}